{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block content %}

<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
      <div class="col-md-12 ftco-animate">
        <h2 class="subheading text row">أهلا بكم فى</h2>
        <h1 class="mb-4 mb-md-0">al8az</h1>
        <div class="row">
          <div class="col-md-7">
            <div class="text">
              <p>نقدم مجموعة مختارة من الألغاز و أسئلة غامضه لتنمية الذكاء وتقويته</p>
              <div class="mouse">
                <a href="#" class="mouse-icon">
                  <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="sidebar-box">
        <form method="GET" action="{% url 'search' %}" class="search-form">
          <div class="form-group">
            <span class="icon icon-search"></span>
            <input type="text" name="q" class="form-control" placeholder="Type a keyword and hit enter" value="{{request.GET.q}}">
            <!-- <input type="submit" value="Search"> -->
          </div>
        </form>
      </div>
        <p dir="ltr">Common Tags:
            {% for mt in common_tags %}
                <a href="{% url 'tagged' mt.slug %}" class="badge badge-primary">{{mt}}</a>
            {% endfor %}
        </p>

          <div class="row d-flex">
            {% for post in page_obj %}
            <div class="col-md-4 d-flex ftco-animate">
              <div class="blog-entry justify-content-end">
                <a href="{% url 'post-detail' slug=post.slug %}" class="block-20" style="background-image: url('{{post.image.url}}');">
                </a>
                <div class="text p-4 float-right d-block">
                  <!-- <div class="topper d-flex align-items-center">
                    <div class="one py-2 pl-3 pr-1 align-self-stretch">
                      <span class="day">18</span>
                    </div>
                    <div class="two pl-0 pr-3 py-2 align-self-stretch">
                      <span class="yr">2019</span>
                      <span class="mos">October</span>
                    </div>
                  </div> -->
                  <h3 class="heading mb-3"><a href="{% url 'post-detail' slug=post.slug %}">{{post.title}}</a></h3>
                  <p><a href="{% url 'post-detail' slug=post.slug %}" class="btn-custom"><span class="ion-ios-arrow-round-forward mr-3"></span>Read more</a></p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>


      <!-- <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div> -->

      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
    </div>
  </section>


{% endblock %}
